@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Light\ Body.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Light\ Disp.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Light\ Head.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Light\ Obl\ Body.ttf") format("truetype");
	font-weight: 300;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Light\ Obl\ Disp.ttf") format("truetype");
	font-weight: 300;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Light\ Obl\ Head.ttf") format("truetype");
	font-weight: 300;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Medium\ Body.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Medium\ Disp.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Medium\ Head.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Medium\ Obl\ Body.ttf") format("truetype");
	font-weight: 500;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Medium\ Obl\ Disp.ttf") format("truetype");
	font-weight: 500;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Medium\ Obl\ Head.ttf") format("truetype");
	font-weight: 500;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Oblique\ Body.ttf") format("truetype");
	font-weight: 400;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Oblique\ Disp.ttf") format("truetype");
	font-weight: 400;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Oblique\ Head.ttf") format("truetype");
	font-weight: 400;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Roman\ Body.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Roman\ Disp.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Roman\ Head.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Semi\ Bold\ Body.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Semi\ Bold\ Disp.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Semi\ Bold\ Head.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Semi\ Bold\ Obl\ Body.ttf") format("truetype");
	font-weight: 600;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Semi\ Bold\ Obl\ Disp.ttf") format("truetype");
	font-weight: 600;
	font-style: oblique;
}

@font-face {
	font-family: "Sequel Sans";
	src: url("/fonts/Sequel\ Sans\ Semi\ Bold\ Obl\ Head.ttf") format("truetype");
	font-weight: 600;
	font-style: oblique;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-[#161616] text-foreground;
		scroll-behavior: smooth !important;
		font-family: "Sequel Sans", sans-serif !important;
	}
	.contact-button {
		@apply px-8;
		@apply py-4;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-weight: 500;
		color: #000;
		background-color: #fff;
		border: none;
		border-radius: 45px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		outline: none;
		&:hover {
			background-color: #23c483;
			box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
			color: #fff;
			transform: translateY(-7px);
		}
		&:active {
			transform: translateY(-1px);
		}
	}

	#devs-swiper {
		mask-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0) 7%,
			rgb(0, 0, 0) 15%,
			rgb(0, 0, 0) 85%,
			rgba(0, 0, 0, 0) 93%
		) !important;
	}
}
